h2 { padding: 40px; }
ol { padding: 40px; }
li {
  padding: 20px;
  border-radius: 5px;
  color: black;
  background: grey;
  margin-bottom: 5px;
}
li span.username { color: white!important; }
.avatar-container { margin-left: 10px; }
.avatar { border: 3px solid black; }
.user-action-button {
  position: relative;
  float: right;
  margin-left: 10px;
}