h2 { padding: 40px; }
#users-list-container { height: 500px; overflow: auto; }
#users-list-container ol { padding: 40px; }
li {
  padding: 20px;
  border-radius: 5px;
  color: black;
  background: grey;
  margin-bottom: 5px;
}
li span.username { color: white!important; }
.avatar-container { margin-left: 10px; }
.avatar { border: 3px solid black; }
.user-action-button {
  position: relative;
  float: right;
  margin-left: 10px;
}
#add-user-button { position: relative; top: 40px; margin: 40px; width: 100px; }